@font-face 
{
  font-family: BoldFont;
  src: url("../fonts/boldfont.ttf");
}

*{
    margin: 0;
    font-family: BoldFont;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



/*********************/

body{
  min-height: 100vh;
  background-image: linear-gradient(#2a2f3b, #334342);
  background-size: cover;
  transition: all 1s;
}

.light{
  background-image: linear-gradient(#c3cfeb, #e7fffd);
  transition: all 1s;
}

/*********************/



/**************************************************/
/*****************TOP OF PAGE**********************/
/**************************************************/

.centering{
  display: flex;
  justify-content: center;
  width: 100%;
}

.logoTop{
  margin: 2vh;
  filter: invert(1) drop-shadow(0 0vh 1vh black);
  width: 18vw;
  background-image: url(../img/FilmDecker\ logo2\ online.png);
  background-size: cover;
  transition: all 1s;
}

.light .logoTop{
  filter: invert(0);
  width: 18vw;
  background-image: url(../img/FilmDecker\ logo2.png);
  transition: all 1s;
}

h1{
    text-align: center;
    color: white;
    transition: all 1s;
}

.light h1{
    color: black;
    transition: all 1s;
}

/**************************************************/
/*****************TOP OF PAGE**********************/
/**************************************************/



/********LoadingPage*********/

.loadingPage{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: all 2s;
  z-index: 545454968486546848646848649875757575755454;
}

.loadingPage.disapear{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: all 2s;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}

/********LoadingPage*********/



/**************************************************/
/****************FANCY HALFTONE********************/
/**************************************************/

.halftone1{
  position: absolute;
  width: 60%;
  height: 60%;
  right: 0;
  background-size: cover;
  pointer-events: none;
  transform: translateY(180deg);
  background-image: url(../img/halftone/2.png);
}

/**************************************************/
/****************FANCY HALFTONE********************/
/**************************************************/



/**************************/
/********NAVIGATION********/
/**************************/

.NumberPage{
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center ;
  justify-content: center;
  width: 100%;
  z-index: 15;
  top: 5vw;
  transition: all 1s;
  filter: drop-shadow(0vh 0.6vh 0vh rgba(0, 0, 0, 0.5));
}

.NumberPage2{
  position: relative;
  display: flex;
  align-items: center;
  align-content: center ;
  justify-content: center;
  width: 100%;
  z-index: 15;
  top: 5vw;
  transition: all 1s;
  filter: drop-shadow(0vh 0.6vh 0vh rgba(0, 0, 0, 0.5));
}

.light .NumberPage{
  transition: all 1s;
  filter: drop-shadow(0vh 0.6vh 0vh rgba(255, 255, 255, 0.5));
  fill: #2a2f3b;
}

.light .NumberPage2{
  transition: all 1s;
  filter: drop-shadow(0vh 0.6vh 0vh rgba(255, 255, 255, 0.5));
  fill: #2a2f3b;
}

.goPage{
  width: 2vh;
  fill: white;
  cursor: pointer;
  margin: 1vh;
  margin-top: 1.5vh;
}

.goPage.disappear{
  opacity: 0;
  pointer-events: none;
  cursor:auto;
}

.light .goPage{
  fill: #2a2f3b;
}

/**************************/
/********NAVIGATION********/
/**************************/



/**************************************************/
/************************SLIDER********************/
/**************************************************/

.sliderOnline{
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 3vw;
  height: 1.5vw;
  background-color:#2a2f3b;
  box-shadow: 0vh 0vh 1vh black;
  border-radius: 0.75vw;
  cursor: pointer;
  transition: all 1s;
}

  .sliderOnline .buttonSlide{
  top: 0.25vw;
  left: 0.25vw;
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color:aliceblue;
  border-radius: 1.25vw;
  transition: all 1s;
  }

.sliderOnline.active{
  background-color:aliceblue;
  transition: all 1s;
}

  .sliderOnline.active .buttonSlide{
    transition: all 1s;
    top: 0.25vw;
    left: 1.75vw;
    background-color: #2a2f3b;
  }

/**************************************************/
/************************SLIDER********************/
/**************************************************/



/**************************************************/
/***********************FILMDIV********************/
/**************************************************/

.filmTab{
  position: relative;
  padding-top: 5%;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: hidden;
  perspective: 900px;
  align-items: center;
  align-content: center;
}

  #filmTabDivRow2{
    padding-top: 0%;
  }
  #filmTabDivRow3{
    padding-top: 0%;
  }
  #filmTabDivRow4{
    padding-top: 0%;
  }
  #filmTabDivRow5{
    padding-top: 0%;
    margin-bottom:10%;
  }

/**************************************************/
/***********************FILMDIV********************/
/**************************************************/



/**************************************************/
/**********************FILMCASE********************/
/**************************************************/

.filmCase{
  position: relative;
  width: 10vw;
  height: 15vw;
  margin: 2vh;
  background-color: rgb(12, 12, 12);
  background-image: url(https://resize-europe1.lanmedia.fr/img/var/europe1/storage/images/media/images/leon/15796682-1-fre-FR/Leon_reference.jpg);
  background-size: 110% 115%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 2vh black;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
  animation: come 1s;
}

  .filmCase .titleMoviePrev{
    pointer-events: none;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 10vw;
    bottom: 1vh;
    left: 0;
    transition: all 1s;
    font-size: 2vh;
  }

  .filmCase .gradient{
    pointer-events: none;
    opacity: 0%;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(7, 7, 7, 0.432), rgb(0, 0, 0));
    background-size: cover;
    transition: all 1s;
    z-index: 101212;
  }

  .filmCase .titleMovie{
    opacity: 0%;
    pointer-events: none;
    position: absolute;
    top: 1vh;
    left: 1.5vh;
    font-size: 1.5vw;
    color: white;
    filter: drop-shadow(0px 0.33vh 0px rgba(0, 0, 0, 0.466)) drop-shadow(0px 0px 5vh black);
  }

  .filmCase .descriptionMovie{
    pointer-events: none;
    opacity: 0%;
    position: absolute;
    bottom: 1vh;
    width: 70%;
    right: 1.5vh;
    font-size: 1.5vh;
    color: white;
  }

  .filmCase .titleMovie span{
    font-size: 2vh;
    margin: 0;
  }
  
  .filmCase .titleMovie .Category{
    font-size: 1.5vh;
  }

  .filmCase .percentOfLike{
    pointer-events: none;
    position: absolute;
    bottom: 6.5vh;
    font-size: 3.5vh;
    width: 14vh;
    text-align: center;
    color: white;
    opacity: 0;
  }
  
  .filmCase .embedYT{
    pointer-events: none;
    opacity: 0%;
    display: none;
    position: absolute;
    width: 15vw;
    height: 8vw;
    right: 2vh;
    top: 2vh;
  }

  .filmCase .likeButton{
    position: absolute;
    pointer-events:none;
    opacity: 0;
    bottom: 0%;
    width: 5vh;
    height: 5vh;
    background-image: url(../img/EmojiLike.webp);
    background-size: cover;
    z-index: 545456465456654654;
  }
  
  .filmCase .likeButton:hover{
    transition: all 1s;
    transform: translateY(-0.5vh);
    filter: drop-shadow(0vh 0vh 0.5vh rgb(255, 255, 255));
  }

  .filmCase .likeButton.active{
    filter: drop-shadow(0vh 0vh 0.5vh rgb(255, 255, 255));
  }

  .filmCase .dislikeButton{
    position: absolute;
    pointer-events: none;
    filter: hue-rotate(125deg);
    opacity: 0;
    bottom: 0%;
    width: 5vh;
    height: 5vh;
    background-image: url(../img/EmojiLike.webp);
    background-size: cover;
    transform: rotateX(180deg);
    z-index: 545456465456654654;
  }
  
  .filmCase .dislikeButton:hover{
    transition: all 1s;
    transform: rotateX(180deg) translateY(0.5vh);
    filter: hue-rotate(125deg) drop-shadow(0vh 0vh 0.5vh rgb(255, 255, 255));
  }

  .filmCase .dislikeButton.active{
    filter: hue-rotate(125deg) drop-shadow(0vh 0vh 0.5vh rgb(255, 255, 255));
  }

  .filmCase .percentOfLikePreview{
    overflow: hidden;
    display: block;
    line-height: 1.5vw;
    pointer-events: none;
    width: 10vw;
    height: 4vh;
    position: relative;
    text-align: center;
    color: aliceblue;
    padding-top: 12vw;
    transform: translateY(-15vw);
    z-index: 212121212221211464546468468468648;
    font-size: 2vw;
    transition: all 1s;
    filter: drop-shadow(0vh 0.25vh 1vh black);
    text-shadow: 0px 0.3vh 0.1vh rgba(0, 0, 0, 0.514);
  }
  
  .filmCase .percentOfLikePreview span{
    display: none;
    font-size: 1vw;
  }

  /*TODO TECHNIC BUTTON */

  .filmCase .deleteButton{
    display: none;
    position: absolute;
    bottom: 1.3vh;
    left: 14vh;
    width: 4vh;
    height: 4vh;
    filter: invert(1);
    background-image: url(https://cdn-icons-png.flaticon.com/512/1017/1017479.png);
    background-size: cover;
    z-index: 1000000000;
  }
  
  .filmCase .modifyButtonIn{
    display: none;
    position: absolute;
    bottom: 1.3vh;
    left: 19vh;
    width: 4vh;
    height: 4vh;
    filter: invert(1);
    background-image: url(http://cdn.onlinewebfonts.com/svg/img_548271.png);
    background-size: cover;
    z-index: 1000000000;
  }

  .filmCase .addToCollection{
    display: none;
    position: absolute;
    bottom: 1.3vh;
    left: 24vh;
    width: 4vh;
    height: 4vh;
    filter: invert(1);
    background-image: url(../img/59836.png);
    background-size: cover;
    z-index: 1000000000;
    transform: scale(0.75) rotateZ(45deg);
  }

  .filmCase .deleteThisFilm{
  
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0));
    background-size: cover;
    z-index: 545454545454545454545454545;
    transition: all 0s;
    opacity: 0;
    pointer-events: none;
  }
  
  /*TODO TECHNIC BUTTON */

  /***FILM ACTIVE***/

.filmCase.active{
  pointer-events: none;
  position: relative;
  transition: all 1s;
  width: 35vw;
  height: 20vw;
  background-image: none;
  background-size: cover;
  cursor:auto;
  z-index: 100;
}

  .filmCase.active .gradient{
    opacity: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    pointer-events:none;
    z-index: 101212;
  }

  .filmCase.active .titleMovie{
    opacity: 100%;
    position: absolute;
    top: 1vh;
    left: 1.5vh;
    color: white;
    transition: all 2s;
    z-index: 854848454;
  }

  .filmCase.active .titleMoviePrev{
    display: none;
  }

  .filmCase.active .descriptionMovie{
    opacity: 100%;
    position: absolute;
    bottom: 1vh;
    width: 50%;
    right: 1.5vh;
    transition: all 2s;
    text-align: right;
    color: white;
    z-index: 854848454;
  }

  .filmCase.active .likeButton{
    pointer-events: all;
    opacity: 100;
    transition: all 1s;
    cursor: pointer;
    bottom: 1vh;
    left: 1vh;
  }

  .filmCase.active .dislikeButton{
    pointer-events: all;
    cursor: pointer;
    opacity: 100;
    transition: all 1s;
    bottom: 1vh;
    left: 8vh;
  }

  .filmCase.active .percentOfLikePreview{
    display: none;
  }

  .filmCase.active .percentOfLike{
    opacity: 100;
    transition: all 1s;
    z-index: 1002151;
  }

  .filmCase.active .embedYT{
    pointer-events: all;
    display: block;
    opacity: 100;
    transition: all 1s;
    z-index: 1002151;
    box-shadow: 0vh 0vh 1vh black;
    border-style: solid;
  }

  /*TODO TECHNIC BUTTON */

  .filmCase.active .deleteButton{
    cursor: pointer;
    pointer-events: all;
    display: block;
    z-index: 1000000000;
  }
  
  .filmCase.active .modifyButtonIn{
    cursor: pointer;
    pointer-events: all;
    display: block;
    z-index: 1000000000;
  }

  .filmCase.active .addToCollection{
    cursor: pointer;
    pointer-events: all;
    display: block;
    z-index: 1000000000;
  }

  .filmCase.active .deleteThisFilm.active{
    pointer-events: all;
    transition: all 0.5s;
    opacity: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
  }

  /*!INSIDE DELETE MENU */
    .deleteChoice{
      display: flex;
      justify-content: center;
    }
    .yesChoice{
      padding: 1vh;
      margin: 1vh;
      cursor: pointer;
      background-color: black;
      color: white;
      font-size: 3vh;
      transition: all 1s;
    }
    .yesChoice:hover{
      transition: all 1s;
      background-color: white;
      color: black;
    }
    .noChoice{
      padding: 1vh;
      margin: 1vh;
      cursor: pointer;
      background-color: black;
      color: white;
      font-size: 3vh;
      transition: all 1s;
    }
    .noChoice:hover{
      transition: all 1s;
      background-color: white;
      color: black;
    }
  /*!INSIDE DELETE MENU */

  /*TODO TECHNIC BUTTON */

   /***FILM HOVER***/

.filmCase:hover{
  transition: all 0.5s;
  background-size: 130% 130%;
}

  .filmCase:hover .gradient{
    opacity: 100%;
    position: absolute;
    transition: all 1s;
    background: linear-gradient(rgba(0, 0, 255, 0), rgb(0, 0, 0));
    pointer-events:none;
    z-index: 101212;
  }

  .filmCase:hover .titleMoviePrev{
    opacity: 100%;
    position: absolute;
    color: white;
    bottom: 3vh;
    transition: all 2s;
    z-index: 854848454;
  }

  .filmCase:hover .percentOfLikePreview span{
    display: block;
    font-size: 1vw;
  }
  
  .filmCase:hover .percentOfLikePreview{
    width: 10vw;
    height: 15vw;
    padding-top: 2vw;
    transition: all 1s;
    transform: translateY(0vw);
  }

  /***FILM ACTIVE HOVER***/

.filmCase.active:hover{
  transition: all 0.5s;
  background-size: cover;
}

  .filmCase.active:hover .gradient{
    opacity: 100%;
    position: absolute;
    width: 120%;
    height: 120%;
    transition: all 1s;
    background: linear-gradient(rgba(7, 7, 7, 0.432), rgb(0, 0, 0));
    pointer-events:none;
    z-index: 101212;
  }

  /*? ANIM COME CASE */

@keyframes come {
  from{
    transform: translateY(-5vh);
    opacity: 0;
  }to{
    opacity: 100;
  }
}

  /*? ANIM COME CASE */

/**************************************************/
/**********************FILMCASE********************/
/**************************************************/



/**************************************************/
/**********************ADDCASE*********************/
/**************************************************/

.buttonDiv{
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 1%;
  bottom: 1%;
  overflow-y: hidden;
  align-items: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}

.addFilm{
  right: 1%;
  width: 7vh;
  height: 7vh;
  bottom: 1%;
  border-radius: 3.5vh;
  background-color: aliceblue;
  overflow: hidden;
  transition: all 1s;
  margin-top: 1vh;
}

.crossAdd{
  background-image: url(../img/59836.png);
  width: 7vh;
  background-size: 50%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  height: 7vh;
  position: relative;
  transform: rotateZ(45deg);
  cursor: pointer;
  transition: all 1s;
  right: 0%;
  bottom: 0%;
  transition: all 1s;
  margin: 0;
}

.addFilm.active{
  width: 35vh;
  height: 50vh;
  border-radius: 5vh;
  transition: all 1s;
  background-color: rgb(37, 37, 37);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  box-shadow: 0vh 0vh 1vh black;
}

.addFilm.active .crossAdd{
  transition: all 1s;
  margin-top: 1.5vh;
  margin-left: 1.5vh;
  transform: rotateZ(0deg);
  transition: all 1s;
  right:1vh;
  bottom: 1vh;
  filter: invert(1);
}

#formAddFilm{
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: all 1s;
  width: 100%;
  height: 70%;
  display: none;
  overflow: hidden;
}

.addFilm.active #formAddFilm{
  display: flex;
  opacity: 100;
  transition: all 1s;
}

.filmTextInput{
  padding: 1vh;
  margin-bottom: 1vh;
}

.filmCategory{
  padding: 0.25vh;
  padding-left: 1vh;
  padding-right: 3vh;
  margin-bottom: 1.5vh;
  font-size: 1.5vh;
}

#submitCreate{
  font-size: 2.5vh;
}

/**************************************************/
/**********************ADDCASE*********************/
/**************************************************/



/**************************************************/
/******************SEARCHSPECMENU******************/
/**************************************************/

.specificSearch{
  width: 7vh;
  height: 7vh;
  border-radius: 3.5vh;
  background-color: aliceblue;
  overflow: hidden;
  transition: all 1s;
  margin-top: 1vh;
}

#openSearchMenu{
  background-image: url(../img/icons8-search-more-90.png);
  transform: rotate(0deg);
}

.specificSearch.active{
  width: 35vh;
  height: 50vh;
  border-radius: 5vh;
  transition: all 1s;
  background-color: rgb(37, 37, 37);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  box-shadow: 0vh 0vh 1vh black;
}

.specificSearch.active #openSearchMenu{
  filter: invert(1);
}

#formSearchFilm{
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: all 1s;
  width: 100%;
  height: 75%;
  display: none;
  overflow: hidden;
}

.specificSearch.active #formSearchFilm{
  display: flex;
  opacity: 100;
  transition: all 1s;
}

.filmTextInput{
  padding: 1vh;
  margin-bottom: 1vh;
}

.filmCategoryToSearch{
  padding: 0.25vh;
  padding-left: 1vh;
  padding-right: 3vh;
  margin-bottom: 1.5vh;
  font-size: 1.5vh;
}

.triageCategory{
  padding: 0.25vh;
  padding-left: 1vh;
  padding-right: 3vh;
  margin-bottom: 1.5vh;
  font-size: 1.5vh;
}

#submitSearchSpec{
  font-size: 2.5vh;
}

/**************************************************/
/******************SEARCHSPECMENU******************/
/**************************************************/



/**************************************************/
/******************SEARCHMENU**********************/
/**************************************************/

.searchBar{
  position: fixed;
  top: 0%;
  left: 10%;
  width: 40vh;
  height: 7.5vh;
  border-bottom-right-radius: 6vh;
  border-bottom-left-radius: 6vh;
  background-color: #334342;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 15454684686888678767868677867868776766768787687;
  padding-bottom: 1vh;
  box-shadow: 0px 0px 1vh black;
}

form{
  margin-top: 1vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#searchValue{
  font-size: 1.5vh;
  padding: 1vh;
  margin-right: 1.5vh;
}

.searchIcon{
  cursor: pointer;
  width: 5vh;
  height: 5vh;
  filter: invert(1);
}

/**************************************************/
/******************SEARCHMENU**********************/
/**************************************************/



/**************************************************/
/******************MODIFYMENU**********************/
/**************************************************/

.modifyFilm{
  width: 7vh;
  height: 7vh;
  border-radius: 3.5vh;
  background-color: aliceblue;
  overflow: hidden;
  transition: all 1s;
  margin-top: 1vh;
}

#openModifyMenu{
  background-image: url(http://cdn.onlinewebfonts.com/svg/img_548271.png);
  transform: rotate(0deg);
}

.modifyFilm.active{
  width: 35vh;
  height: 50vh;
  border-radius: 5vh;
  transition: all 1s;
  background-color: rgb(37, 37, 37);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  box-shadow: 0vh 0vh 1vh black;
}

.modifyFilm.active #openModifyMenu{
  filter: invert(1);
}

#formModifyFilm{
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: all 1s;
  width: 100%;
  height: 75%;
  display: none;
  overflow: hidden;
}

.modifyFilm.active #formModifyFilm{
  display: flex;
  opacity: 100;
  transition: all 1s;
}

.filmTextInput{
  padding: 1vh;
  margin-bottom: 1vh;
}

.filmCategoryToModify{
  padding: 0.25vh;
  padding-left: 1vh;
  padding-right: 3vh;
  margin-bottom: 1.5vh;
  font-size: 1.5vh;
}

#submitModify{
  font-size: 2.5vh;
}

/**************************************************/
/******************MODIFYMENU**********************/
/**************************************************/



/**************************************************/
/******************CATEGORYMENU********************/
/**************************************************/

.addCategory{
  width: 7vh;
  height: 7vh;
  border-radius: 3.5vh;
  background-color: aliceblue;
  overflow: hidden;
  transition: all 1s;
  margin-top: 1vh;
}

#openCategoryMenu{
  background-image: url(https://assets.stickpng.com/images/580b57fcd9996e24bc43c4c8.png);
  transform: rotate(0deg);
}

.addCategory.active #openCategoryMenu{
  filter: invert(1);
}

.addCategory.active{
  width: 35vh;
  height: 22vh;
  border-radius: 5vh;
  transition: all 1s;
  background-color: rgb(37, 37, 37);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  box-shadow: 0vh 0vh 1vh black;
}

.addCategory.active #formCategoryFilm{
  display: flex;
  opacity: 100;
  transition: all 1s;
}

#formCategoryFilm{
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: all 1s;
  width: 100%;
  height: 40%;
  display: none;
  overflow: hidden;
}

#submitCategory{
  font-size: 2.5vh;
}

/**************************************************/
/******************CATEGORYMENU********************/
/**************************************************/



/**************************************************/
/******************DELETECATMENU*******************/
/**************************************************/

.deleteCategory{
  width: 7vh;
  height: 7vh;
  border-radius: 3.5vh;
  background-color: aliceblue;
  overflow: hidden;
  transition: all 1s;
  margin-top: 1vh;
}

#openDeleteCategoryMenu{
  background-image: url(../img/deletecategory.png);
  transform: rotate(0deg);
}

.deleteCategory.active #openDeleteCategoryMenu{
  filter: invert(1);
}

.deleteCategory.active{
  width: 35vh;
  height: 22vh;
  border-radius: 5vh;
  transition: all 1s;
  background-color: rgb(37, 37, 37);
  border-style: solid;
  border-color: rgb(20, 20, 20);
  box-shadow: 0vh 0vh 1vh black;
}

.deleteCategory.active #formDeleteCategoryFilm{
  display: flex;
  opacity: 100;
  transition: all 1s;
}

#formDeleteCategoryFilm{
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0;
  transition: all 1s;
  width: 100%;
  height: 40%;
  display: none;
  overflow: hidden;
}

#deleteCategory{
  font-size: 2.5vh;
}

/**************************************************/
/******************DELETECATMENU*******************/
/**************************************************/



/**************************************************/
/******************RESULTTEXT**********************/
/**************************************************/

.noResultText{
  transition: all 1s;
  position: absolute;
  top: 9.5vw;
  text-align: center;
  width: 100%;
  pointer-events: none;
  display: none;
  font-size: 2vw;
  padding-bottom: 3vh;
  overflow-y: hidden;
  color: white;
}

.light .noResultText{
  color: rgb(0, 0, 0);
  transition: all 1s;
}

.light .noResultText span{
  color: white;
  transition: all 1s;
}

#createYourOwn{
  padding: 0.25vw;
  padding-bottom: 0.25vw;
  padding-left: 1vw;
  padding-right: 1vw;
  
  height: 6vh;
  background-color: #334342;
  font-size: 1vw;
  pointer-events: all;
  cursor: pointer;
  text-decoration: solid;
  transition: all 1s;
  box-shadow: 0 0 1vh #334342;
}

#createYourOwn:hover{
  background-color: #dbe6e5;
  color: #2a2f3b;
  transition: all 1s;
  box-shadow: 0 0 1.5vh #dbe6e5;
}

#resultText{
  position: absolute;
  top: 9.5vw;
  font-size: 1.25vw;
  width: 100%;
  text-align: center;
  color: white;
}

/**************************************************/
/******************RESULTTEXT**********************/
/**************************************************/



/**********************************************/
/****************COLLECTIONDIV********************/
/**********************************************/

.collectionList{
  transform: translateX(-100%);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 80%;
  top: 10%;
  background-color: #334342;
  left: 0%;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  overflow: visible;
  transition: all 1s;
  box-shadow: 0vh 0vh 1vw black;
  z-index: 5648486648846468468684;
}

.collectionList.active{
  transform: translateX(00%);
  transition: all 1s;
}

.collectionList h1{
  margin-top: 1vh;
  text-shadow: 0 0.25vh 0 rgba(0, 0, 0, 0.267);
  overflow: hidden;
  font-size: 3vh;
  height: 6vh;
}

.collectionList .collection{
  z-index: 100;
  pointer-events: all;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.showColl{
  position: absolute;
  width: 5vh;
  height: 6vh;
  top: 38vh;
  right: -5vh;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  background-color: aliceblue;
  overflow: hidden;
  z-index: -1;
  cursor: pointer;
  transition: all 1s;
}

.collectionList.active .showColl{
  background-color: #334342;
  transition: all 1s;
}

.arrowCollection{
  width: 5vh;
  height: 6vh;
  pointer-events: none;
  transition: all 1s;
}

.collectionList.active .arrowCollection{
  transform: rotateZ(180deg) translateX(0.25vh);
  transition: all 1s;
  fill: white;
}

.frameColl{
  width: 80%;
  height: 12.5vh;

  background-size: cover;
  margin: 10%;
  margin-top: 5%;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 0 2vh black;
}

.frameColl .title{
  width: 100%;
  position: absolute;
  font-size: 2vh;
  z-index: 23;
  pointer-events: none;
}

.frameColl .gradientFrame{
  opacity: 0;
  z-index: 20;
  pointer-events: none;
  transition: all 1s;
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(7, 7, 7, 0.432), rgb(0, 0, 0));
}

.frameColl:hover .gradientFrame{
  opacity: 100;
  pointer-events: none;
  transition: all 1s;
  background: linear-gradient(rgba(7, 7, 7, 0.432), rgb(0, 0, 0));
}

.crossRetire{
  position: absolute;
  height: 2vh;
  width: 2vh;
  bottom: 0.75vh;
  right: 0.75vh;
  background-image: url(../img/59836.png);
  filter: invert(1);
  background-size: cover;
  pointer-events: all;
  z-index: 51545465464646;
}

/**********************************************/
/****************COLLECTIONDIV********************/
/**********************************************/



/**********************************************/
/****************GOUPINPAGE********************/
/**********************************************/

.goUpToSearch{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  fill: white;
  transition: all 1s;
}

.light .goUpToSearch{
  fill: #334342;
  transition: all 1s;
}

/**********************************************/
/****************GOUPINPAGE********************/
/**********************************************/



@media (orientation: portrait) {

  /******Slider********/


  .sliderOnline{
    position: fixed;
    bottom: 1vh;
    left: 1vh;
    width: 9vh;
    height: 4.5vh;
    background-color:#2a2f3b;
    box-shadow: 0vh 0vh 1vh black;
    border-radius: 2.25vh;
    cursor: pointer;
    transition: all 1s;
  }

  .sliderOnline.active{
    background-color:aliceblue;
    transition: all 1s;
  }

  .buttonSlide{
    top: 0.75vh;
    left: 0.75vh;
    position: absolute;
    width: 3vh;
    height: 3vh;
    background-color:aliceblue;
    border-radius: 1.5vh;
    transition: all 1s;
  }

  .sliderOnline.active .buttonSlide{
    transition: all 1s;
    top: 0.75vh;
    left: 5.25vh;
    background-color: #2a2f3b;
  }

  /******Slider********/

   /******filmCase********/

  #filmTabDivRow5 {
    padding-top: 0%;
    margin-bottom: 5vh;
  }

    .filmTab {
      position: relative;
      padding-top: 5%;
      top: 0%;
      left: 0%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow-y: hidden;
      perspective: 900px;
      flex-direction: column;
      align-items: center;
      align-content: center;
  }

  .filmCase {
    width: 90%;
    height: 25vw;
    position: relative;
    margin: 2vh;
    background-color: rgb(12, 12, 12);
    background-image: url(https://resize-europe1.lanmedia.fr/img/var/europe1/storage/images/media/images/leon/15796682-1-fre-FR/Leon_reference.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 2vh black;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;
    animation: come 1s;
  }
  .filmCase:hover{
    transition: all 3s;
    background-size: cover;
  }
  .filmCase:hover .percentOfLikePreview span{
    display: none;
    font-size: 1vw;
    position: relative;
  }
  
  .filmCase:hover .percentOfLikePreview{
    display: block;
    width: 100%;
    height: 4vh;
    line-height: 1.5vw;
    pointer-events: none;
    padding-top: 15.75vw;
    transition: all 1s;
  }
  .filmCase.active {
    pointer-events: none;
    position: relative;
    transition: all 1s;
    width: 90%;
    height: 60vw;
    background-image: none;
    cursor: auto;
    z-index: 100;
  }
  .percentOfLikePreview {
    overflow: hidden;
    display: block;
    line-height: 1.5vw;
    pointer-events: none;
    width: 100%;
    height: 4vh;
    position: relative;
    text-align: center;
    color: aliceblue;
    padding-top: 8vw;
    transform: translateY(-15vw);
    z-index: 212121212221211464546468468468648;
    font-size: 10vw;
    transition: all 1s;
    filter: drop-shadow(0vh 0.25vh 1vh black);
    text-shadow: 0px 0.3vh 0.1vh rgb(0 0 0 / 51%);
  }
  .filmCase.active .percentOfLikePreview{
    display: none;
  }
  .filmCase .titleMovie {
    position: absolute;
    top: 1vh;
    left: 1.5vh;
    font-size: 2vh;
    color: white;
    transition: all 2s;
    z-index: 854848454;
  }
  .filmCase.active .titleMovie {
    opacity: 100%;
    position: absolute;
    top: 1vh;
    left: 1.5vh;
    font-size: 2vh;
    color: white;
    transition: all 2s;
    z-index: 854848454;
  }
  .titleMovie span {
    font-size: 1.5vh;
    margin: 0;
  }
  .titleMovie .Category {
    font-size: 1;
  }
  .embedYT {
    pointer-events: none;
    opacity: 0%;
    display: none;
    position: absolute;
    width: 32vw;
    height: 17vw;
    right: 2vw;
    top: 2vw;
  }
  .filmCase .titleMoviePrev {
    position: absolute;
    text-align: center;
    opacity: 100;
    color: white;
    text-shadow: 0 0 1vh #2a2f3b;
    width: 100%;
    transform: translateY(-180%);
    transition: all 1s;
    font-size: 2vh;
    margin-bottom: 4vh;
  }
  .filmCase.active .descriptionMovie {
    opacity: 100%;
    position: absolute;
    bottom: 1vh;
    width: 40%;
    right: 1.5vh;
    transition: all 2s;
    text-align: right;
    color: white;
    z-index: 854848454;
  }

  .descriptionMovie {
    width: 40%;
  }

 /******filmCase********/

/************iconInCase*************/

.deleteButton {
  bottom: 1.3vh;
  left: 10vh;
  width: 3vh;
  height: 3vh;
}
.modifyButtonIn {
  bottom: 1.3vh;
  left: 14vh;
  width: 3vh;
  height: 3vh;
}

.dislikeButton {
  width: 3.5vh;
  height: 3.5vh;
  left: 5.5vh;
}

.addToCollection {
  left: 18vh;
  width: 3.5vh;
  height: 3.5vh;
}

.filmCase.active .dislikeButton {
  left: 5.5vh;
}

.likeButton {
  width: 3.5vh;
  height: 3.5vh;
}


.percentOfLike {
  bottom: 5vh;
  font-size: 3vh;
  width: 10vh;
  text-align: center;
  color: white;
  opacity: 0;
}

/************iconInCase*************/

/********************************/

.searchBar {
  left: 10vw;
  width: 80vw;
  height: 14vw;
}

#filmTabDivRow1{
  padding-top: 0;
}

.logoTop {
  margin-top: 16vw;
  filter: invert(1) drop-shadow(0 0vh 1vh black);
  width: 50vw;
}

#resultText {
  position: absolute;
  top: 30vw;
  font-size: 5vw;
  width: 100%;
  text-align: center;
  color: white;
}

.noResultText {
  top: 30vw;
  width: 100%;
  pointer-events: none;
  display: none;
  font-size: 5vw;
}

#createYourOwn {
  font-size: 5vw;
}

.light .logoTop {
  width: 50vw;
}

/********************************/

/**************COLLECTION*******************/

.collectionList {
  transform: translateX(-100%);
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  top: 10%;
  background-color: #334342;
  left: 0%;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  overflow: visible;
  transition: all 1s;
  box-shadow: 0vh 0vh 1vw black;
  z-index: 5648486648846468468684;
}

.frameColl .gradientFrame{
  opacity: 100;
  pointer-events: none;
  transition: all 1s;
  background: linear-gradient(rgba(7, 7, 7, 0.432), rgb(0, 0, 0));
}

.halftone1 {
  position: absolute;
  width: 100%;
  height: 60%;
  right: 0;
  background-size: cover;
  pointer-events: none;
  transform: translateY(180deg);
  background-image: url(../img/halftone/2.png);
}

/**************COLLECTION*******************/

}